{% import "macros.html" as macros %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="referrer" content="no-referrer">

        <link rel="stylesheet" href="{{ get_url(path='fonts.css') }}">
        <link rel="stylesheet" href="{{ get_url(path='style.css') }}">

        <title>{% block htmltitle %}{{ config.title }}{% endblock htmltitle %}</title>
        <meta property="og:site_name" content="{{ config.title }}" />
        {% block meta_content %}
            {% if config.description %}
            <meta name="description" content="{{ config.description | safe }}" />
            <meta name="twitter:description" content="{{ config.description | safe }}">
            <meta property="og:description" content="{{ config.description | safe }}" />
            {% endif %}
        {% endblock meta_content %}
        {% if config.generate_rss %}
            <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path='rss.xml') }}">
        {% endif %}
    </head>

    <body>
        {% block body %}
        <div class="wrap">
            <div class="section top-menu">{{ macros::menu() }}</div>
            <div class="section" id="title">{% block title %}{% endblock title %}</div>
            <div class="section" id="sections">{% block sections %}{% endblock sections %}</div>
            <div class="section" id="content">{% block content %}{% endblock content %}</div>
            <div class="section bottom-menu">{{ macros::render_social_icons() }}</div>
        </div>
        {% block script %}{% endblock script %}
        {% endblock body %}
    </body>
</html>
