{% macro section_menu(path) %}
    <p>
        {% set index = get_section(path=path) %}
        {% for current in index.subsections %}
            {% set current = get_section(path=current) %}
            <a href="{{ current.permalink }}">{{ macros::title_or_last(component=current) }}</a>
        {% if loop.last == false %} &#183; {% endif %}
        {% endfor %}
    </p>
{% endmacro section_menu %}

{% macro menu() %}
        <p>
            {% if config.extra.top_menu %}
                {% for link in config.extra.menu %}
                    <a href="{{ link.link }}">{{ link.text }}</a>
                    {% if loop.last == false %} &#183; {% endif %}
                {% endfor %}
            {% endif %}
        </p>
{% endmacro menu %}

{% macro footer() %}
    {% if config.extra.footer %}
        <div class="section footer">
        <hr>
            {{ config.extra.footer_text | safe }}
        </div>
    {% endif %}
{% endmacro footer %}

{% macro render_social_icons() %}
<p>
{% for icon in config.extra.social %}
<a href="{{ icon.link }}" title="{{ icon.name }}" class="logo-link">
    {% if icon.name == "github" %}
    <i class="fa-brands fa-github fa-xl"></i>
    {% elif icon.name == "twitter" %}
    <i class="fa-brands fa-x-twitter fa-xl"></i>
    {% elif icon.name == "bluesky" %}
    <i class="fa-brands fa-bluesky fa-xl"></i>
    {% elif icon.name == "linkedin" %}
    <i class="fa-brands fa-linkedin-in fa-xl"></i>
    {% elif icon.name == "email" %}
    <i class="fa-regular fa-envelope fa-xl"></i>
    {% else %}
    <i class="fa-regular fa-link fa-xl"></i>
    {% endif %}
</a>
{% endfor %}
</p>
{% endmacro render_social_icons %}
